/*
Name: Milan Shrestha
UN ID:16418532
*/


body{
  background-size: cover;/*this is for bbody size to make body fit in the screen*/
  margin: 0;/*it keeps margin of the body zero*/
}

header{
  background:#35424a;/*this is for color of background and code is taken from colorhex.com*/
  color:#ffffff;/*this is used to insert color*/
  border-bottom:#e8491d 3px solid;/*it helps to make border at the bottom of header part*/
  display: flex;/*this property makes parts inside the header*/
  flex-direction: row;/*this keeps the content inside the header in a row*/
}
.logo{
  width: 20%;/*it gives width of the logo*/
}
.logo img{
  height: 80px;/*this property gives the height*/
  width: 160px;
  display: block;
  margin: auto;/*it keeps the margin auto*/
  border-radius: 20px;/*this property is used to change the angles of the border*/
  opacity: 0.7;/*this property helps us to changee transparancy*/
  padding: 5px;/*sets the position of the contents inside the division*/

}
.nav{
  width:55%;
}

.nav ul{
  display: flex;/*it seperates contents of that division*/
  flex-direction: row;


}

.nav ul li{
  color: white;
  list-style: none;
  padding: 1% 3%;
  padding-top: 18px;/*sets the position of top side of contents*/
  padding-left: 30px;/*sets the position of left side of the content*/
}
.nav ul li:hover{/**/
  background: #e8491d;
  padding-bottom: 15px;
}

.nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 1.255em;
}


.search{
  width: 25%;
  display: flex;
  flex-direction: row;
}
.sea{
  width: 80%;
}
.sea form{
  width: 95%;
}

.searchicon{
  padding-top: 22px;
  width: 20%;
  border-radius: 100px;
}
.searchicon input{
 background: green;
 border-radius: 20px;
 color: white;
 opacity: 0.5;
}
.searchicon input:hover{
  opacity: 1;
}


.home{
  background-image: url(../image/1.JPG);/*it inserts the photo in that section*/
  background-size: cover;
  height: 596px;
  display: flex;
  flex-direction: row;
}
.image{width: 40%;}
.image img{
  height: 300px;
    width: 300px;
    border-radius: 50%;
    opacity: 0.5;
    display: block;
    margin: auto;
    padding: 20%;
}

.image img:hover {
    opacity: 1.0;
    transition: 2s;
    transform: scale(1.1,1.1);
  }
.main{
  width: 40%;
  color:  white;
  padding-top: 8%;
}
.main h2{
  text-align: center;
   padding-top: 15px;
   font-size: 2em;
}
.main h2:hover{
  transition: 4s;
  transform: scale(1.5,1.5);
}
.main p{text-align: justify; padding: 5%;
font-size: 1em;
width: 100%;
}
.cvsection{
  background-image: url(../image/1.JPG);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;/*ithis property keeps the content in the column form*/
  width: 100%;
  height: 596px;
}
.milan{
  text-align: center;
  font-size: 2em;/*it sets the size of the font*/
}

.cv{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.aboutme{
  width: 60%;
  padding-left:10%;
}

.education{
  width: 50%;
}
.contact{
  background-image: url(../image/1.JPG);
  background-size: cover;
  height: 596px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.form{
  width: 50%;
}
form{
  display: block;
  margin: auto;
  padding: 20px;
  padding-left: 60px;
}
label{
  font-size: 1.2em;
  color: white;
}
input{
  width: 80%;
  height: 30px;
}
textarea{
  width: 80%;
}
.tel{
  width: 20%;
  padding: 20px;
  color: white;
}
.foto{
  width: 30%;
  padding: 20px;
}
.foto img{
  height: 80%;
  width: 80%;
  opacity: 0.5;
}
.foto img:hover{
  opacity: 1;
}
.bio{
  background-image: url(../image/1.JPG);
  background-size: cover;
  width: 100%;
  height: 596px;
  display: flex;
  flex-direction: row;
  color: white;
}
.description{
  width: 60%;
}
.description h1{
  font-size: 3em;
  text-align: center;
}
.description p{
  font-size: 1.8em;
  padding: 20px;
  text-align: justify;/*this helps to make the content in equal part*/
}
.bike{
  width: 40%;
}
.bike img{
  height: 60%;
  width: 60%;
  border-radius: 100px;
  display: block;
  margin: auto;
  padding: 80PX;

}
.bike img:hover{
  transition: 4s;/*it sets the time to show the animation*/
  transform: rotateY(180deg);/*it transforms the content in 180 degree and rotate it*/
  opacity: 0.5;
}


footer{
  color:#ffffff;
  background-color:#e8491d;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 70px;
}
.icon{
  width: 35%;
  padding: 8px;
}
.icon i{
  font-size: 2.5em;
  padding: 5px;
}
.fa-facebook-official{
  color: rgb(51, 51, 255);
}
.fa-twitter-square{
  color: rgb(102, 179, 255);
}
.fa-yahoo{
  color: rgb(191, 128, 255);
}
.fa-google-plus-square{
color: rgb(0, 128, 0);
}
.copy{
  width: 70%;
  text-align: center;/*it sets the alignment of the content in the center*/
  padding-top: 5px;
}
@media (max-width: 600px){/*this property is used to make the page responsive*/
header{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.logo{
  width: 100%;
}
.nav{
  width: 100%;
}
.nav ul{
  padding-left: 1px;
  display: flex;
  flex-direction: column;
}
.nav ul li a{
  font-size: 1em;
}
.search{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.sea{
  width: 70%;
}
.sea input{
  width: 90%;
}
.searchicon{
  width: 30%;
}
.home{
  width: 100;
  display: flex;
  flex-direction: column;
}
.image{
  width: 100%;
}
.image img{
  height: 200px;
  width: 200px;
  padding: 20px;
}
.main{
  width: 100%;
}
.main p{
  width: 250px;
  padding: 10px;
}
.bio{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.description{
  height: 60%;
  width: 100%;
}
.description h1{ font-size: 2em;}
.description p{
  font-size: 1em;
  padding: 6px;;
}
.bike{
  height: 40%;
  width: 100%;

}
.bike img{
  height: 150px;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
}
.cvsection{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.6em;
}
.milan{
  width: 100%;
}
.milan h1{
  font-size: 1em;
}
.cv{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.aboutme{
  width: 100%;
  padding-left: 10px;

}
.education{
  width: 100%;
  padding-left: 10px;
}

.contact{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form{
  width: 100%;

}
form{
  width: 100%;
  padding-left: 10px;
}
label{
  font-size: 1em;
}
textarea{
  height: 100px;
}
.tel{
  font-size: 1em;
}
.foto{
  width: 100px;
}
.foto img{
  height: 150px;
  width: 150px;
}
footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 130px;
}
.icon{

  width: 100%;
}
.copy{
  width: 100%;
}
.copy p{
  font-size: 0.8em;
}
